.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
  .shadowBox {
    width: 100%;
  }
  &__header {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    h2 {
      font-size: 28px;
      color: #222;
    }
    p {
      color: #8e8e8e;

    }
  }
  &__content {
    max-width: 430px;
    width: 100%;
  }
  &__success-block {
    text-align: center;
    h3 {
      font-size: 20px;
      font-weight: bold;
    }
  }
}